node_modules/
.git/
.idea/
__pycache__/
*.pyc
.env
*.md
.DS_Store
Thumbs.db
venv/
.vscode/
model/model/cnn_model2.pth
model/model/cnn_model_SE.pth
model/model/111.py
model/model/评估.py
wheat-frontend/node_modules/
wheat-frontend/.git/
wheat-frontend/src/
wheat-frontend/public/
wheat-frontend/vite.config.ts
wheat-frontend/tsconfig*.json
wheat-frontend/.eslintrc*
wheat-frontend/.prettierrc*
wheat-frontend/env.d.ts
static/uploads/*
*.bak

model/data/
